# Environment files
.env

# Virtual environment
/venv

# Python cache files
__pycache__/
*.py[cod]

# Logs
*.log

# IDE and editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

apple.jpg